<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Tampilan</title>
</head>
<style>
  body {
    background-image: url('https://img.freepik.com/free-photo/blur-hospital_1203-7972.jpg?w=1060&t=st=1700748718~exp=1700749318~hmac=a092b9b9277b5c4a31f432152b33e85f056ad7cd32ac12c83a05642628c23d9c');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  </style>
  <body style="font-family: 'Times New Roman', Times, serif;">
    <a href="/post" style="padding: 20px;color: black;width: auto; font-size: large;">News</a> <br>

    <label class="container d-flex justify-content-center align-items-center " style="height: 300px;font-size: 46px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: rgb(42, 30, 46); padding: 1px;">Selamat Datang Di HAIDOC Silahkan lakukan Register
    </label>
    <label class="container d-flex justify-content-center align-items-center" style="height: 1px;;padding: 2px;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      <a href="/register" class="btn btn-info" style="background-color: white;" role="button">Register</a>
    </label>
    <label class="container d-flex justify-content-center align-items-center" style="height: 300px;;padding: 2px;font-size: 20px;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Jika Sudah Memiliki Akun Silahkan <a href="/login">  Login  </a></label>
  </body>
  
</html>