<div class="mx-auto p-2" style="display: inline-flexbox;">
    <table border="1" >
    <label>HAIDOC</label>
    <a href="/patient/<%= id %>" style="margin: 5px;" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Home</a>
    <a href="/posts" style="padding: 20px;color: black;width: auto; font-size: large;">News</a> <br>
</div>